#container {
    height: 240px;
    left: 10px;
    top: 82px;
    width: 900px;
    z-index: 10;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

#slide {
    height: 155px;
    top: 0;
    width: 5000px;


    position: absolute;
}

.box {

    height: 132px;
    margin-right: 0px;
    border:solid;
    width: 167px;
    background-color: #d3d3d3;

    top: 0;
    float: left;
    list-style-type: none;
    color:black;
}

#prev {
    float: right;
    top: 112px;
    cursor: pointer;
    position: absolute;

}

#next {
    float: right;
    top: 112px;
    left:950px;
    cursor: pointer;
    position: absolute;
}