#container {
    height: 140px;
    left: 10px;
    top: 82px;
    width: 600px;
    z-index: 10;
    position: relative;
    overflow: hidden;
}

#slide {
    height: 155px;
    top: 0;
    width: 5000px;
    z-index: 10;
    left: 20px;
    position: absolute;
}

.box {

    height: 132px;
    margin-right: 10px;
    width: 167px;
    background-color: #d3d3d3;
    top: 0;
    float: left;
    list-style-type: none;
    color:black;
}

#prev {
    float: right;
    top: 112px;
    cursor: pointer;
    position: absolute;

}

#next {
    float: right;
    top: 112px;
    left:630px;
    cursor: pointer;
    position: absolute;
}